---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import portfolioImg from "../assets/projects/porfolio.webp";
import cotizadorJavaImg from "../assets/projects/appcotizador.webp";
import shortUrlJsImg from "../assets/projects/urls.webp";
import shortUrlJakartaImg from "../assets/projects/urlshortener.webp";
import todoAppJakartaImg from "../assets/projects/todoapp.webp";
import HorizontalCardBlog from "../components/HorizontalCardBlog.astro";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="inicio">

	<div class="pb-12 mt-5">
		<div class="text-xl py-1">Hola </div>
		<div class="text-5xl font-bold">Soy Jordi Ayala</div>
		<div class="text-3xl py-3 font-bold">Ingeniero en Sistemas Computacionales</div>
		<div class="py-2">
			<text class="text-lg">
				Ingeniero en Sistemas Computacionales actualmente en b煤squeda de trabajo como desarrollador FullStack. Tengo experiencia Acad茅mica/Laboral en proyectos web y de escritorio con tecnolog铆as como Java, Python y JavaScript, as铆 como, HTML, CSS, Tailwind CSS y React. Adem谩s de manejo de base de datos MySQL, SQL Server y MongoDB. Me apasiona la tecnolog铆a y estar en constante aprendizaje.
				</text>
		</div>
		<div class="mt-8">
			<a class="btn" href="https://www.linkedin.com/in/asjordi/" target="_blank"> Linkedin</a>
			<a href="/cv.pdf" target="_blank" class="btn btn-outline ml-5"> CV</a>
		</div>
	</div>

	<div>
		<div class="text-3xl w-full font-bold mb-2">ltimos Proyectos {"</>"}</div>
	</div>

	<HorizontalCard
		title="Portafolio"
		img={portfolioImg}
		desc="Sitio web personal que contiene informaci贸n sobre mi, mis proyectos y mi blog."
		url="https://asjordi.dev"
		badge=""
		tags={["Astro", "TailwindCSS", "Firebase"]}
		repoUrl="https://github.com/ASJordi/personal-website"
		deployUrl="https://asjordi.dev"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="URL Shortener"
		img={shortUrlJakartaImg}
		desc="Aplicaci贸n web para acortar URL's con un alias personalizado utilizando un c贸digo de verificaci贸n para su creaci贸n. El redireccionamiento de las URL's acortadas es realizado por el servidor de forma autom谩tica. Desplegado en un VPS con Docker."
		url="https://url.asjordi.dev"
		badge=""
		tags={["Java", "Jakarta EE", "Hibernate", "Servlet", "JSP", "MySQL", "Docker"]}
		repoUrl="https://github.com/ASJordi/url-shortener-java"
		deployUrl="https://url.asjordi.dev"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="TODO App"
		img={todoAppJakartaImg}
		desc="Aplicaci贸n web para la creaci贸n y administraci贸n de tareas y usuarios. Permite registrar, editar y eliminar tareas, y asignarlas al usuario que inici贸 sesi贸n. Cuenta con un sistema de autenticaci贸n."
		url="https://github.com/ASJordi/webapp-todo"
		badge=""
		tags={["Java", "Jakarta EE", "Servlet", "JSP", "MySQL", "Docker"]}
		repoUrl="https://github.com/ASJordi/webapp-todo"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="App Cotizaciones"
		img={cotizadorJavaImg}
		desc="Aplicaci贸n de escritorio para la creaci贸n y administraci贸n de cotizaciones. Permite configurar datos de la empresa, clientes, productos y servicios, y generar cotizaciones en formato PDF."
		url="https://github.com/ASJordi/app-cotizaciones-java"
		badge=""
		tags={["Java", "Java Swing", "JDBC", "MySQL", "JasperReports"]}
		repoUrl="https://github.com/ASJordi/app-cotizaciones-java"

	/>

	<div>
		<div class="text-3xl w-full font-bold mb-5 mt-10">ltimos post {"</>"}</div>
	</div>

	{
		last_posts.map((post) => (
			<HorizontalCardBlog
				title={post.data.title}
				img={post.data.heroImage}
				desc={post.data.description}
				url={"/blog/" + createSlug(post.data.title, post.slug)}
				target="_self"
				badge={post.data.badge}
				tags={post.data.tags}
			/>
			<div class="divider my-0"></div>
		))
	}

</BaseLayout>
