---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import portfolioImg from "../assets/projects/porfolio.webp";
import cotizadorJavaImg from "../assets/projects/appcotizador.webp";
import shortUrlJsImg from "../assets/projects/urls.webp";
import weatherAppImg from "../assets/projects/weather.webp";
import linksAppImg from "../assets/projects/links.webp";
import todoAppJakartaImg from "../assets/projects/todoapp.webp";
import shortUrlJakartaImg from "../assets/projects/urlshortener.webp";
---

<BaseLayout title = "Jordi Eduardo Ayala Soto | Proyectos" sideBarActiveItemID="proyectos">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos</div>
  </div>
	<HorizontalCard
		title="Portafolio"
		img={portfolioImg}
		desc="Sitio web personal que contiene información sobre mi, mis proyectos y mi blog."
		url="https://asjordi.dev"
		badge=""
		tags={["Astro", "TailwindCSS", "Firebase"]}
		repoUrl="https://github.com/ASJordi/personal-website"
		deployUrl="https://asjordi.dev"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="TODO App"
		img={todoAppJakartaImg}
		desc="Aplicación web para la creación y administración de tareas y usuarios. Permite registrar, editar y eliminar tareas, y asignarlas al usuario que inició sesión. Cuenta con un sistema de autenticación."
		url="https://github.com/ASJordi/webapp-todo"
		badge=""
		tags={["Java", "Jakarta EE", "Servlet", "JSP", "MySQL"]}
		repoUrl="https://github.com/ASJordi/webapp-todo"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="URL Shortener"
		img={shortUrlJakartaImg}
		desc="Aplicación web para acortar URL's con un alias personalizado utilizando un código de verificación para su creación. El redireccionamiento de las URL's acortadas es realizado por el servidor de forma automática."
		url="https://github.com/ASJordi/url-shortener-java"
		badge=""
		tags={["Java", "Jakarta EE", "Hibernate", "Servlet", "JSP", "MySQL"]}
		repoUrl="https://github.com/ASJordi/url-shortener-java"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="App Cotizaciones"
		img={cotizadorJavaImg}
		desc="Aplicación de escritorio para la creación y administración de cotizaciones. Permite configurar datos de la empresa, clientes, productos y servicios, y generar cotizaciones en formato PDF."
		url="https://github.com/ASJordi/app-cotizaciones-java"
		badge=""
		tags={["Java", "Java Swing", "JDBC", "MySQL", "JasperReports"]}
		repoUrl="https://github.com/ASJordi/app-cotizaciones-java"

	/>
	<div class="divider my-0"></div>
  <HorizontalCard
    title="URL Shortener"
    img={shortUrlJsImg}
    desc="Acortador de URL's que permite crear enlaces cortos a partir de una URL larga. El proyecto está desplegado en Netlify y Railway."
    url="https://link-shortly.netlify.app"
    badge=""
		tags={["HTML", "CSS", "JS", "NodeJS", "Express", "MongoDB"]}
		repoUrl="https://github.com/ASJordi/urlshortener"
		deployUrl="https://link-shortly.netlify.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Weather App"
    img={weatherAppImg}
    desc="Aplicación web que permite consultar el clima de cualquier ciudad del mundo utilizando la API de OpenWeather."
    url="https://weather-app-nodejs.netlify.app"
		badge=""
		tags={["HTML", "CSS", "JS", "NodeJS", "Express"]}
		repoUrl="https://github.com/ASJordi/simple-weather-app"
		deployUrl="https://weather-app-nodejs.netlify.app/"
  />
	<div class="divider my-0"></div>
	<HorizontalCard
    title="Multi-link Website"
    img={linksAppImg}
    desc="Página web que permite mostrar múltiples enlaces a redes sociales y otros sitios web."
    url="https://links.asjordi.dev/"
		badge=""
		tags={["HTML", "CSS", "Github Pages"]}
		repoUrl="https://github.com/ASJordi/asjordi-links"
		deployUrl="https://links.asjordi.dev/"
  />
</BaseLayout>
