---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import portfolioImg from "../assets/projects/porfolio.webp";
import cotizadorJavaImg from "../assets/projects/appcotizador.webp";
import shortUrlJsImg from "../assets/projects/urls.webp";
import weatherAppImg from "../assets/projects/weather.webp";
import linksAppImg from "../assets/projects/links.webp";
import todoAppJakartaImg from "../assets/projects/todoapp.webp";
import shortUrlJakartaImg from "../assets/projects/urlshortener.webp";
import javaBlockchainImg from "../assets/projects/blockchain-java.webp";
import passwordGeneratorJavaImg from "../assets/projects/password-generator-java.webp";
import javawcImg from "../assets/projects/javawc.webp";
import ghUserActivityImg from "../assets/projects/gh-user-activity-cli.webp";
import taskTrackerCliImg from "../assets/projects/task-tracker-cli.webp";
import apiWordsJs from "../assets/projects/api-words-js.webp";
import codewarsImg from "../assets/projects/codewars.webp";
import exchangeRateImg from "../assets/projects/exchange-rate-mx.webp";
import weatherBotImg from "../assets/projects/weather-bot.webp";
import tmdbCliImg from "../assets/projects/tmdb-cli.webp";
import whoisMcpImg from "../assets/projects/whois-mcp.webp";
---

<BaseLayout title = "Jordi Eduardo Ayala Soto | Proyectos" sideBarActiveItemID="proyectos">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos</div>
  </div>
	<HorizontalCard
		title="Portafolio"
		img={portfolioImg}
		desc="Sitio web personal que contiene información sobre mi, mis proyectos y mi blog."
		url="https://asjordi.dev"
		badge=""
		tags={["Astro", "TailwindCSS", "Firebase"]}
		repoUrl="https://github.com/ASJordi/personal-website"
		deployUrl="https://asjordi.dev"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="URL Shortener"
		img={shortUrlJakartaImg}
		desc="Aplicación web para acortar URL's con un alias personalizado utilizando un código de verificación para su creación. El redireccionamiento de las URL's acortadas es realizado por el servidor de forma automática. Desplegado en un VPS con Docker."
		url="https://url.asjordi.dev"
		badge=""
		tags={["Java", "Jakarta EE", "Hibernate", "Servlet", "JSP", "MySQL", "Docker"]}
		repoUrl="https://github.com/ASJordi/url-shortener-java"
		deployUrl="https://url.asjordi.dev"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="TODO App"
		img={todoAppJakartaImg}
		desc="Aplicación web para la creación y administración de tareas y usuarios. Permite registrar, editar y eliminar tareas, y asignarlas al usuario que inició sesión. Cuenta con un sistema de autenticación."
		url="https://github.com/ASJordi/webapp-todo"
		badge=""
		tags={["Java", "Jakarta EE", "Servlet", "JSP", "MySQL", "Docker"]}
		repoUrl="https://github.com/ASJordi/webapp-todo"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="App Cotizaciones"
		img={cotizadorJavaImg}
		desc="Aplicación de escritorio para la creación y administración de cotizaciones. Permite configurar datos de la empresa, clientes, productos y servicios, y generar cotizaciones en formato PDF."
		url="https://github.com/ASJordi/app-cotizaciones-java"
		badge=""
		tags={["Java", "Java Swing", "JDBC", "MySQL", "JasperReports"]}
		repoUrl="https://github.com/ASJordi/app-cotizaciones-java"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Telegram Weather Bot"
		img={weatherBotImg}
		desc="Aplicación que permite consultar periódicamente el clima de una ciudad de forma automática a través de un bot de Telegram. Se utiliza el API de OpenWeather para obtener los datos. Los datos son procesados usando Jackson Databind y son enviados por medio de Telegram Bots API. La aplicación se ejecuta automáticamente cada 4 horas usando GitHub Actions."
		url="https://github.com/ASJordi/telegram-weather-bot"
		badge=""
		tags={["Java", "Jackson Databind", "GitHub Actions", "OpenWeather", "Telegram"]}
		repoUrl="https://github.com/ASJordi/telegram-weather-bot"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Password Generator"
		img={passwordGeneratorJavaImg}
		desc="Generador de passwords y passphrases aleatorias y seguras. Permite configurar la longitud, el uso de caracteres especiales, números, letras mayúsculas y minúsculas. Así como mantener un historial de las mismas."
		url="https://github.com/ASJordi/PasswordGenerator"
		badge=""
		tags={["Java", "Java Swing", "Datafaker"]}
		repoUrl="https://github.com/ASJordi/PasswordGenerator"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Exchange Rate MX"
		img={exchangeRateImg}
		desc="Aplicación de consola que consulta automáticamente el tipo de cambio por día del Peso Mexicano (MXN) en relación con el Dólar Estadounidense (USD) usando la API de Banxico, para porteriormente guardar la información en un archivo JSON y generar un gráfico en formato SVG para representarla."
		url="https://github.com/ASJordi/exchange-rate-mx-usd"
		badge=""
		tags={["Java", "Jackson Databind", "GitHub Actions", "JFreeChart"]}
		repoUrl="https://github.com/ASJordi/exchange-rate-mx-usd"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Whois MCP"
		img={whoisMcpImg}
		desc="Servidor MCP que permite realizar consultas utilizando el protocolo WHOIS sobre dominios de internet. Implementa una base de datos sobre los servidores WHOIS para realizar las consultas. Es compatible con clientes que soporten el protocolo MCP."
		url="https://github.com/ASJordi/whois-mcp"
		badge=""
		tags={["Java", "MCP", "SLF4J", "Apache Commons"]}
		repoUrl="https://github.com/ASJordi/whois-mcp"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="javawc command"
		img={javawcImg}
		desc="Implementación del comando wc de Unix en Java. Permite contar el número de líneas, palabras y caracteres de un archivo de texto o de la entrada estándar."
		url="https://github.com/ASJordi/javawc"
		badge=""
		tags={["Java", "Java IO"]}
		repoUrl="https://github.com/ASJordi/javawc"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="GitHub User Activity CLI"
		img={ghUserActivityImg}
		desc="CLI que permite consultar la actividad de un usuario de GitHub. Muestra la cantidad de commits, issues, pull requests, forks, stars, entre otros datos."
		url="https://github.com/ASJordi/gh-user-activity-cli"
		badge=""
		tags={["Java", "GSON", "GitHub API"]}
		repoUrl="https://github.com/ASJordi/gh-user-activity-cli"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Task Tracker CLI"
		img={taskTrackerCliImg}
		desc="CLI para la administración de tareas. Permite crear, editar, eliminar y listar tareas. Las tareas se almacenan en un archivo JSON en el sistema de archivos."
		url="https://github.com/ASJordi/task-tracker-cli"
		badge=""
		tags={["Java", "Jackson Databind"]}
		repoUrl="https://github.com/ASJordi/task-tracker-cli"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="TMDB CLI Tool"
		img={tmdbCliImg}
		desc="CLI que permite obtener información sobre películas usando el API de The Movie Database (TMDB). "
		url="https://github.com/ASJordi/tmdb-cli-tool"
		badge=""
		tags={["Java", "Jackson Databind", "Lombok"]}
		repoUrl="https://github.com/ASJordi/tmdb-cli-tool"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Soluciones Codewars"
		img={codewarsImg}
		desc="Colección de +500 soluciones a problemas de programación de la plataforma Codewars. Los problemas están resueltos en Java y se encuentran organizados por nivel de dificultad."
		url="https://github.com/ASJordi/codewars"
		badge=""
		tags={["Java"]}
		repoUrl="https://github.com/ASJordi/codewars"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Java Blockchain"
		img={javaBlockchainImg}
		desc="Implementación de una blockchain en Java que permite la creación y mineria de bloques, transacciones, wallets, validación de cadenas y la verificación de la integridad de los datos dentro de la red."
		url="https://github.com/ASJordi/BasicJavaBlockchain"
		badge=""
		tags={["Java", "Cryptography", "Algorithms"]}
		repoUrl="https://github.com/ASJordi/BasicJavaBlockchain"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="API Words"
		img={apiWordsJs}
		desc="API REST que permite consultar verbos, adjetivos, sustantivos y adverbios en inglés. Los datos son obtenidos de archivos de texto y devueltos en formato JSON. Desplegado en un VPS con Docker."
		url="https://words.asjordi.dev/"
		badge=""
		tags={["JavaScript", "NodeJS", "Express", "Docker"]}
		repoUrl="https://github.com/ASJordi/simple-api-nodejs"
		deployUrl="https://words.asjordi.dev/"

	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Multi-link Website"
		img={linksAppImg}
		desc="Página web que permite mostrar múltiples enlaces a redes sociales y otros sitios web."
		url="https://links.asjordi.dev/"
		badge=""
		tags={["HTML", "CSS", "Github Pages"]}
		repoUrl="https://github.com/ASJordi/asjordi-links"
		deployUrl="https://links.asjordi.dev/"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
	title="URL Shortener"
	img={shortUrlJsImg}
	desc="Acortador de URL's que permite crear enlaces cortos a partir de una URL larga. El proyecto está desplegado en Netlify y Railway."
	url="https://link-shortly.netlify.app"
	badge=""
		tags={["HTML", "CSS", "JS", "NodeJS", "Express", "MongoDB"]}
		repoUrl="https://github.com/ASJordi/urlshortener"
		deployUrl="https://link-shortly.netlify.app/"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
	title="Weather App"
	img={weatherAppImg}
	desc="Aplicación web que permite consultar el clima de cualquier ciudad del mundo utilizando la API de OpenWeather."
	url="https://weather-app-nodejs.netlify.app"
		badge=""
		tags={["HTML", "CSS", "JS", "NodeJS", "Express"]}
		repoUrl="https://github.com/ASJordi/simple-weather-app"
		deployUrl="https://weather-app-nodejs.netlify.app/"
	/>
</BaseLayout>
