---
const { title, img, desc, url, badge, tags, target = '_blank', repoUrl, deployUrl } = Astro.props;
import { Image } from "astro:assets";
---

<div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
			{
				img && (
          <Image
            src={img}
            width={750}
						height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
			}
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-start  mt-2">
					<div class="transition ease-in-out hover:scale-[110%]">
						{repoUrl && <a href={repoUrl} target="_blank" class="btn btn-ghost btn-sm items-center">
							<svg
          			xmlns="http://www.w3.org/2000/svg"
								height="24"
								width="24"
								style="fill: currentColor;transform: ;msFilter:;"
								viewBox="0 0 24 24"
								fill-rule="evenodd"
								><path
									d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
									clip-rule="evenodd"
          			></path>
        			</svg>
						</a>}
					</div>
					<div class="transition ease-in-out hover:scale-[110%] mr-2">
						{deployUrl && <a href={deployUrl} target="_blank" class="btn btn-ghost btn-sm mb-2">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-send"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
								>
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M10 14l11 -11"></path>
								<path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"></path>
							</svg>
						</a>}
					</div>
					<div class="gap-4 mt-1">
						{
							tags &&
							tags.map((tag) => (
                                <p class="badge badge-outline mr-1.5">{tag}</p>
                            ))
						}
					</div>
				</div>
      </div>
    </div>
  </a>
</div>
